@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  overflow-y: hidden;
  /* ===== Colors ===== */
  --body-color: #e9e8e7;
  --body-color-main: #E4E9F7;
  --sidebar-color: #FFF;
  --primary-color: #2d4c88;
  --primary-color-light: #F6F5FF;
  --toggle-color: #DDD;
  --text-color: #707070;

  /* ====== Transition ====== */
  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}

h1,
h2,
h3 {
  font-family: 'Golos Text', sans-serif;
}

p {
  font-family: 'Golos Text', sans-serif;
}


.main {
  height: 100vh;
  background-color: var(--body-color);
  transition: var(--tran-05);

}

.background {
  height: auto;
  width: 80vh;
  margin-left: -20px;
}



.grid-container-wrapper {
  display: grid;
  grid-template-columns: 14% 86%;
}


.grid-item {
  color: rgb(92, 115, 121);

}

/* .main{
  background-color: #008CBA;
} */

.nav-text {
  position: absolute;
  font-size: 17px;
}

.intro-text {
  font-size: 17px;
}

.scroll_pictures {
  overflow-y: hidden;
}


.images-container {
  /* margin: 3% 3%; */
  padding: 2% 2%;
  /* margin: 0% 2%; */
  background-color: #B4CFEC;
  display: grid;
  grid-template-columns: repeat(auto-fill, 31%);
  /* repeat(auto-fill, 186px); */
  /* grid-template-rows: minmax(33%,auto-fill); */
  grid-gap: 3%;
  /* grid-column-gap: 2%; */
  /* align-items: center; */
  justify-content: space-around;

  /* overflow-y: auto; */
  overflow-x: hidden;
  height: 100vh;
  align-content: flex-start;
}

.main {
  overflow-y: hidden;
  display: grid;
  align-content: flex-start;
}

img {
  border-radius: 2%;
  width: 100%;
  height: 100%;
}

#logo_size {
  max-width: 8rem;
  max-height: 8rem;
}

.picture {
  /* display: block; */
  aspect-ratio: 2 / 2;
  /* width: 100%;
  height: calc(width); */
  /* background-color: #45a049; */
}




main .intro {
  position: static;
  padding-top: 12vh;
  padding-left: 3vh;
}





button {
  background-color: white;
  color: black;
  border-radius: 10%;
  padding: 10px;
  width: fit-content;
  border: 2px solid #008CBA;
}






.grid-item-2 {
  position: relative;
}







/* ---------------------  Responsiveness  ------------------ */



/* custom */


@media only screen and (max-width : 900px) {
  /* Styles */


}



@media only screen and (min-width : 900px) {

  /* Styles */
  p {
    font-size: 25px;
  }
}

/* Smartphones (laptops) ----------- */
@media only screen and (max-width : 580px) {

  /* Styles */
  .images-container {
    grid-template-columns: 1fr;
    overflow-x: hidden;
  }
}

@media only screen and (max-width : 580px) and (orientation : portrait) {

  /* Styles */
  .images-container {
    grid-template-columns: 1fr;
    overflow-x: hidden;
  }
}


/* Smartphones (laptops) ----------- */
@media only screen and (max-width : 580px) and (orientation : landscape) {
  /* Styles */

}


.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* custom */



/* ----------  Sidebar ------------ */


/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 580px) and (max-width : 1200px) {
  /* Styles */

  .images-container {
    grid-template-columns: 1fr 1fr;
    overflow-x: hidden;
    grid-gap: 4%;
    overflow-y: auto;
    padding-left: 4%;
    padding-right: 4%;
    row-gap: 1%;
  }

  /* .picture{
    aspect-ratio: 2 / 2;
    display: flex;
    min-height:auto;
    max-height: 86%;
    background-color: #45a049;
  } */

}



/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  /* Styles */
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 580px) {
  /* Styles */


}

/* Smartphones (landscape) ----------- */
/* @media only screen
and (min-width : 321px) {
} */

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
  /* Styles */
}



/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {

  /* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
  /* Styles */

}


/* ----------  Sidebar ------------ */