/* ---------------------------S I D E   B A R------------------------------------- */


.sidebar{
  border:#695CFE;
  top: 0;
  left: 0;
  height: 100vh;
  width: auto;
  padding: 10px 14px;
  background: var(--sidebar-color);
  box-shadow: 2px 2px 20px 1px #d1cece;
  z-index: 2000;

}

.menu li{
  height: 50px;
  list-style: none;
}







/* ---------------------  New DropDown  ------------------ */

.dropdown_container ul{
  list-style: none;
  /* background:#c5d2ee ; */
}


.dropdown_container ul li{
list-style: none;
position: relative;
}


/* .dp_lang{
width: 100%;
height: 100%
} */

.dp_lang .gallary_div .galary_text{
font-size: 16px;
font-weight: 500;
}

.dropdown_container ul li a{
  height: 100%;
  width: 100%;
  font-family: monospace;
  font-size: 20px;
  font-weight: 450;
  white-space: nowrap;
  opacity: 1;
  color: var(--text-color);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0% 15%;
  margin-top: 10px;
  text-align: left;
  transition: var(--tran-03);
}


.dropdown_container ul li a:focus{
/* background-color: skyblue; */
/* color: var(--text-color); */
transition: color 2s ease-out;
border-radius: 5%;
transition: var(--tran-03);
transition: background-color 2s ease-out;
/* background-color: 2s ease-out; */
}



/* ---------------------------ICONS---------------------------------- */





/* .dropdown_container ul .icon_home, .icon_art{
height: 100%;
width: 100%;
font-family: monospace;
font-size: 20px;
font-weight: 450;
white-space: nowrap;
opacity: 1;
color: var(--text-color);
text-decoration: none;
display: flex;
justify-content: center;

margin-top: 30px;
text-align: center;
transition: var(--tran-03);
} */


#sideMenu_smallScreen ul li a{
height: 100%;
width: 100%;
font-family: monospace;
font-size: 20px;
font-weight: 450;
white-space: nowrap;
opacity: 1;
color: var(--text-color);
text-decoration: none;
display: flex;
justify-content: center;
/* padding: 0% 50%; */
margin-top: 30px;
text-align: center;
transition: var(--tran-03);
}



.custom_home_icon_flex{
display:flex;
text-decoration: none;
/* padding-left: 0.5em; */
color: var(--text-color);
justify-content: center;
text-align: center;
position: relative;
left: 10px;
}

.custom_home_icon_flex:hover{
color: #eda085;
position: relative;
left: -1px;
}

/* ---------------------------ICONS---------------------------------- */


.dropdown_container ul li ul.dropdown li {
  display : block;
}

.dropdown_container ul li ul.dropdown{
  background: #bcd1e4;
  position: absolute;
  width: 100%;
  z-index: 999;
  display: none;
}

.dropdown_container ul li a:hover{
transition-duration: 0.8s;
border-radius: 6px;
transition: var(--tran-03);
background-color: var(--primary-color);
color: var(--sidebar-color);
}

.dropdown_container ul li:hover ul.dropdown{
  display:block;
  transition: var(--tran-05);
  /* transition: opacity 3s linear 3s; */
}


.menu .contact_details li a{
font-family: monospace;
font-weight: 500;
white-space: nowrap;
opacity: 1;
color: var(--text-color);
transition: var(--tran-03);
display: flex;
align-items: center;
/* padding-left: 45px; */
height: 100%;
width: 100%;
}

.menu .contact_details li a:hover{
background-color: var(--primary-color);
color: var(--sidebar-color);
border-radius: 6px;
}

.contact_details{

width: 17.5%;
position: absolute;
padding-bottom: 20px;
bottom: 0;
}

#contact-btn{
  align-self: flex-end;
}

/* ---------------------  New DropDown  ------------------ */



/* ---------------------  Old Clickable DropDown  ------------------ */

.sidenav li:hover, .dropdown-btn:hover {
  color: #992a2a;
}




/* Add an active class to the active dropdown button */
.active {
  background-color: var(--primary-color);
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #ca0b0b;
  padding-left: 2px;
}

/* Optional: Style the caret down icon */

.dp_lang .gallary_div .fa-caret-down {
  padding-left: 2px;
  padding-right: 0px;
}
.dp_lang:hover .gallary_div .fa-caret-down {
  display:none;
  padding-left: 2px;
  padding-right: 0px;
}
/* .gallary_div .fa-caret-up {
display: none;
padding-left: 2px;
padding-right: 0px;
}
.gallary_div:hover .fa-caret-up {
padding-left: 2px;
padding-right: 0px;
} */

/* ---------------------  Old Clickable DropDown  ------------------ */



/* ---------------------  Responsiveness  ------------------ */



/* custom */


@media only screen
and (max-width : 1200px) {

  #sideMenu_largeScreen{
    display:none;
  }

  .menu .contact_details li a{
    font-weight: 500;
    white-space: nowrap;
    font-family: monospace;
    opacity: 1;
    color: var(--text-color);
    transition: var(--tran-03);
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-left: 44px; */
    height: 100%;
    width: 100%;
  }
}

@media only screen
and (max-width : 1200px) {

  #logo_size{
    width: 55px;
    height: 55px;
  }
  .sidebar{
    height: auto;
    width: auto;
  
  }

  
}



@media only screen
and (min-width : 1200px) {

  #sideMenu_smallScreen{
    display:none;
  }

}
