/* :root{
    margin: 0% 0%;
}

html{
    margin: 0% 0%;
} */

*{
    margin: 0%;
}


.margins{
    margin: 0% 5%;
}


@media (max-width: 1050px){
    .margins{
        margin: 0% 0%;
        
    }
}

@font-face{
    font-family: overPass-Bold;
    src: url(Overpass-Bold.ttf )
}
@font-face{
    font-family: overPass-ExtraBold;
    src: url(Overpass-ExtraBold.ttf )
}
@font-face{
    font-family: overPass-Regular;
    src: url(Overpass-Regular.ttf)
}
@font-face{
    font-family: overPass-Light;
    src: url(Overpass-Light.ttf)
}
@font-face{
    font-family: Roboto;
    src: url(..//Sorla_Website_Image/Fonts_Overpass_Roboto/Roboto/Roboto-Medium.ttf )
}

body{
    background-color: #fff;
}

p{
    font-family: Roboto;
    font-family: overPass-Light;
    font-weight: 150;
    font-size: 1.5rem;
    letter-spacing: -0.3px;
    text-align: left;
}

.justify-text{
    text-align: justify;
}

.heading-bold{
    font-size: 5vw;
    font-family: overPass-Bold;
}

.heading-extra-bold{
    font-size: 5vw;
    font-family: overPass-ExtraBold;
}

.heading-regular{
    font-size: 5vw;
    font-family: overPass-Regular;
}



@media(min-width: 1200px){
    .heading-bold{
        font-size: 4rem;
        font-family: overPass-Bold;
    }
    .heading-regular{
        font-size: 4rem;
    }
}

@media(max-width: 900px){
    .heading-bold{
        font-size: 6vw;
        font-family: overPass-Bold;
    }
    .heading-regular{
        font-size: 6vw;
    }

    p{
        color:rgba(245, 245, 245, 1);
        font-weight: 300;
        font-size: 1.3rem;
        
    }
}


@media(max-width: 600px){
    .heading-bold{
        font-size: 7.5vw;
        font-family: overPass-Bold;
    }
    
    .heading-regular{
        font-size: 7.5vw;
        font-family: overPass-Regular;
    }

    p{
        color:rgba(245, 245, 245, 0.918);
        font-weight: 300;
        font-size: 1.2em;
        
    }
}